<?xml version="1.0" encoding="UTF-8"?>


<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="web.dao.face.AdminDao">
  
  
  	<select id="selectCntByAdminIdPw" resultType="int" parameterType="web.dto.Admin">
  	select count(*) from admin
  	where admin_id = #{adminId} 
  	and admin_pw = #{adminPw}
  	</select>
  	
  	<select id="selectAdminNo" resultType="web.dto.Admin" parameterType="web.dto.Admin">
  	select admin_no from admin where admin_id = #{adminId}
  	</select>  
  	
  	<select id="selectQnACnt" resultType="int">
  	select count(*) from userquestion
  		<choose>
  			<when test=" qProcess == '답변대기' ">
  			where q_process = #{qProcess}
  			</when>
  			
  			<when test="qProcess != null &amp;&amp; qProcess == '답변완료' ">
			where q_process = #{qProcess}
			</when>
			
			  <when test="keyword != null ">
  				where q_title like '%' || #{keyword} || '%'
  			</when>
  			
			<otherwise></otherwise>
  		</choose>
  	
  	</select>
  	
  	<select id="selectQnAList" resultType="web.dto.UserQuestion" parameterType="Map">
  		SELECT * FROM (
			SELECT rownum rnum, Q.* FROM (
				select * from userquestion 
				<choose>
					<when test="qProcess == '답변대기' ">
					where q_process = #{qProcess}
					</when>
					
					<when test="qProcess == '답변완료' ">
					where q_process = #{qProcess}
					</when>
					<otherwise>     
					</otherwise>
				</choose>
				 order by q_no desc
			) Q
		) USERQUESTION
		WHERE rnum BETWEEN #{paging.startNo } AND #{paging.endNo }
  	</select>
  	
  	<select id="selectQnAListByKeyword" resultType="web.dto.UserQuestion" parameterType="Map">
  	 		SELECT * FROM (
			SELECT rownum rnum, Q.* FROM (
				select * from userquestion 
					where q_title like '%' || #{keyword} || '%'
				 order by q_no desc
			) Q
		) USERQUESTION
		WHERE rnum BETWEEN #{paging.startNo } AND #{paging.endNo }
  	</select>
  	
  	
  	<select id="selectUserQnAList" resultType="web.dto.UserQuestion" parameterType="int">
 		select * from userquestion  
		where user_no = #{userNo}
		order by q_no desc
  	</select>
  	
  	
  	
  	<select id="selectQnAViewQuestion" resultType="web.dto.UserQuestion" parameterType="web.dto.UserQuestion">
  	select * from userquestion where q_no=#{qNo}
  	</select>
  	
  	<select id="selectQnAViewAnswer" resultType="web.dto.AdminAnswer" parameterType="web.dto.AdminAnswer">
  	select * from adminanswer where q_no=#{qNo}
  	</select>
  	
  	<select id="selectUserInfo" resultType="web.dto.Users" parameterType="int">
  	select * from users where user_no=#{attribute}
  	</select>
  	
  	  <insert id="insertUserQuestion" parameterType="web.dto.UserQuestion">
  	 <selectKey keyProperty="qNo" order="BEFORE" resultType="int" >
  	select userquestion_seq.nextval from dual
  	</selectKey>
  	insert into userquestion(q_no , q_title, q_content, q_process ,q_date ,user_no)
  	values(#{qNo},#{qTitle}, #{qContent}, '답변대기', current_date, #{userNo} )
  	</insert>
  	
  	<select id="selectAdminInfo" resultType="web.dto.Admin" parameterType="int">
  	select * from admin where admin_no=#{attribute}
  	</select>
  	
  	<select id="selectUsersInfo" resultType="web.dto.Users" parameterType="web.dto.Users">
  	select * from users where user_no=#{userNo}
  	</select>
  	
  	<insert id="insertAdminAnswer" parameterType="web.dto.AdminAnswer">
  	<selectKey keyProperty="aNo" order="BEFORE" resultType="int" >
  	select adminanswer_seq.nextval from dual
  	</selectKey>
  	insert into adminanswer(a_no, a_answer, a_date, admin_no, q_no)
  	values(#{aNo}, #{aAnswer}, current_date, #{adminNo}, #{qNo} )
  	</insert>


	<update id="updateQProcess" parameterType="web.dto.UserQuestion">
	update userquestion 
	set q_process = '답변완료'
	where q_no = #{qNo}
	</update>
  	
  	<select id="selectQProcess" resultType="int" parameterType="web.dto.UserQuestion">
  	select count(*) from userquestion 
  	where q_no=#{qNo} and q_process = '답변완료'
  	</select>
  	
  	<select id="selectAdminNick" resultType="web.dto.Admin" parameterType="web.dto.Admin">
  	select * from admin
  	where admin_no = #{adminNo}
  	</select>
  	
  	<select id="selectUserCnt" resultType="int" >
  	select count(*) from users
  		<choose>
  			<when test="keyword != null ">
  				where user_id like '%' || #{keyword} || '%'
   				or user_nick like '%' || #{keyword} || '%'
  				or user_name like '%' || #{keyword} || '%'
  			</when>
  		</choose>
  	</select>
  	
  	

	<select id="selectUserList" resultType="web.dto.Users" parameterType="web.util.Paging">
		SELECT * FROM (
			SELECT rownum rnum, U.* FROM (
				select * 
				FROM users
				ORDER BY user_no DESC
			) U
		) Users
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>
	
	<select id="selectUserListByKeyword" resultType="web.dto.Users" parameterType="Map">
		SELECT * FROM (
			SELECT rownum rnum, U.* FROM (
				select * from users
				where user_id like '%' || #{keyword} || '%'
			    or user_nick like '%' || #{keyword} || '%'
			    or user_name like '%' || #{keyword} || '%'
				ORDER BY user_no DESC
			) U
		) Users
		WHERE rnum BETWEEN #{paging.startNo } AND #{paging.endNo }
	</select>
	
	
	<update id="updateUserGrade" parameterType="int" >
	update users
	set user_grade = 0
	where user_no = #{userNo}
	</update>


	
  	
  </mapper>